
/**************************
Global Styles
**************************/
body {
    font-family: 'Montserrat', sans-serif;
    background: #29b6f6;
}

/*************************
Card to hold watches
*************************/
.card:hover {
    box-shadow: 0 12px 24px rgba(9, 78, 75, 0.25), 0 7.5px 7.5px rgba(9, 78, 75, 0.22);
}
.card-title {
 
    font-size: 1.25rem;
    color: #0066cc;
}
.card-text {
    font-size: 1rem;
}

/************************
Background for control buttons
************************/
.play {
    background-color: #27AE60;
}
.reset {
    background-color: #F1593A;
}