body {
	font-size: 1rem;	
	background: #2ecc71; /* fallback for old browsers */
        }
.card:hover {
  box-shadow: 0 12px 24px rgba(9,78,75,0.25), 0 7.5px 7.5px rgba(9,78,75,0.22);
}
.card-title {
	font-weight: 700;
}
.card-text {
    font-size: 1rem;
}
.play {
	background-color: #27AE60;
}
.stop {
	background-color: #F1593A;
}
